<ion-header>
  <ion-navbar>
    <ion-title>Ventas de {{fechaCaja|date: 'dd/MM/yyyy'}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="menu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <h3>Total recibido: {{total| currency : 'usd' : true : '.0'}}</h3>

  <button *ngIf="ventas.length > 0" ion-button type="submit" icon-right full outline color="secondary" (click)="alertaCerrarCaja()">Cerrar caja
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon name="{{p.icon}}" item-right></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding>
  <ion-list *ngFor="let item of ventas">
    <ion-item>
      <h2>Venta No.: {{item.idventa}}</h2>
      <p>Fecha de venta {{item.fecha|date: 'dd/MM/yyyy HH:mm'}}</p>
      <p>Total venta {{item.total| currency : 'usd' : true : '.0' }} / Pagado {{item.pago| currency : 'usd' : true : '.0'}} / Devuelto {{item.devuelta| currency : 'usd' : true : '.0' }} </p>
      <p>Total recibido {{item.total < item.pago ? item.pago - item.devuelta : item.pago| currency : 'usd' : true : '.0'}} </p>
    </ion-item>
  </ion-list>

  <ion-fab center bottom>
    <button ion-fab (tap)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-nav #content></ion-nav>