<!--
  Generated template for the ProductosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
        <ion-title>
          Productos
        </ion-title>
      </ion-col>

      <ion-col *ngIf="!busqueda && !filtro" col-3 float-right>
        <ion-segment [(ngModel)]="modo" (click)="filtrar()" assertive>
          <ion-segment-button value="uno">
            <ion-icon name="list"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="dos">
            <ion-icon name="grid"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ion-col col-3 float-right>
        <ion-buttons end>
          <button *ngIf="alerta > 0" ion-button round color="danger" (click)="irAlertas()">{{alerta}}</button>

          <button ion-button icon-only (click)="menu($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="busqueda" (ionInput)="filtrar()"></ion-searchbar>

    <button ion-button outline (click)="filtrosGrupos()">{{gruposeleccion}}</button>
    <button ion-button outline (click)="filtrosMarcas()">{{marcaseleccion}}</button>
  </ion-toolbar>
</ion-header>

<ion-menu [content]="contenta">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-badge *ngIf="p.badge > 0" color="danger">{{p.badge}}</ion-badge>
        <ion-icon name="{{p.icon}}" item-right></ion-icon>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding [ngSwitch]="modo" class="grid-full">
  <ion-list *ngIf="busqueda || filtro">
    <ion-item-sliding #item *ngFor="let producto of productos">
      <ion-item (click)="ver(producto)">
        <ion-thumbnail item-start>
          <img *ngIf="producto.imagen" [src]="producto.imagen">
        </ion-thumbnail>
        <p>{{producto.descripcion}} {{producto.marca}}</p>
        <p>Precio: {{producto.precio | currency : 'usd' : true : '.0' }}</p>
        <ion-note item-end>{{producto.cantidad}}</ion-note>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button large color="secondary" (click)="precio(producto)">
          <ion-icon name="pricetag"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="!busqueda && !filtro">
    <ion-list *ngSwitchCase="'uno'">
      <ion-item-group *ngFor="let item of productos">
        <ion-item-divider color="light">{{item.grupo}} </ion-item-divider>
        <ion-item-sliding #item *ngFor="let producto of item.productos">
          <ion-item (click)="ver(producto)">
            <ion-thumbnail item-start>
              <img *ngIf="producto.imagen" [src]="producto.imagen">
            </ion-thumbnail>
            <p>{{producto.descripcion}} {{producto.marca}}</p>
            <p>Precio: {{producto.precio| currency : 'usd' : true : '.0' }}</p>
            <ion-note item-end>{{producto.cantidad}}</ion-note>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button large color="secondary" (click)="precio(producto)">
              <ion-icon name="pricetag"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'dos'">
      <ion-item-group *ngFor="let item of productos">
        <ion-item-divider color="light">{{item.grupo}}</ion-item-divider>
        <ion-row>
          <ion-col #item *ngFor="let producto of item.productos" class="cell-1" (click)="ver(producto)">
            <img *ngIf="producto.imagen" [src]="producto.imagen" (click)="ver(producto)">
            <strong>{{producto.descripcion}} {{producto.marca}}</strong>
            <p>Precio: {{producto.precio| currency : 'usd' : true : '.0' }}</p>
            <ion-note item-end>Disponible {{producto.cantidad}}</ion-note>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-list>
  </div>

  <ion-fab *ngIf="!busqueda" center bottom>
    <button ion-fab (tap)="agregar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-nav #contenta></ion-nav>