<!--
  Generated template for the InventarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>Inventario</ion-title>
    
        <ion-toolbar>
          <ion-segment [(ngModel)]="modo" assertive>
            <ion-segment-button value="uno">
              Ingresar por producto
            </ion-segment-button>
            <ion-segment-button value="dos">
              Ingresar por cantidad
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding>
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-input type="number" placeholder="Códido del producto" [(ngModel)]="idproducto"></ion-input>
            <button ion-button item-end small>
              <ion-icon name="arrow-forward" (click)="seleccionar(true)"></ion-icon>
            </button>
          </ion-item>

          <ion-item *ngIf="modo == 'dos'">
            <ion-label floating>Cantidad:</ion-label>
            <ion-input type="number" [(ngModel)]="inventario.cantidadIngreso"></ion-input>
          </ion-item>

          <ion-item *ngIf="inventario.idproducto">
            <ion-label floating>Costo:</ion-label>
            <ion-input type="number" [(ngModel)]="inventario.costo"></ion-input>
          </ion-item>
  
          <ion-item *ngIf="inventario.idproducto">
            <img *ngIf="inventario.imagen" [src]="inventario.imagen">
            <p>{{inventario.descripcion}} {{inventario.marca}} {{inventario.grupo}}</p>
            <p>Precio: {{inventario.precio| currency : 'usd' : true : '.0' }}</p>
            <ion-note item-end>{{inventario.cantidad}}</ion-note>
          </ion-item>
  
          <button ion-button type="submit" icon-right full large color="secondary" [disabled]="!inventario.idproducto && !inventario.cantidad" (click)="guardar()">Agregar al inventario
            <ion-icon name="arrow-round-up"></ion-icon>
          </button>
        </ion-card-content>
      </ion-card>
    
    </ion-content>
    