<!--
  Generated template for the DetalleVentaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Venta {{datosVenta.idventa}}
      <br/> Cliente: {{datosVenta.idpersona}} {{datosVenta.nombre}}

      <button *ngIf="datosVenta.idpersona" ion-button small item-end color="danger" (click)="ver()">
        <ion-icon name="close"></ion-icon>
      </button>

      <button *ngIf="!datosVenta.idpersona" ion-button small item-end (click)="ver()">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="busqueda" (ionInput)="filtrar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-scroll scrollY="true" style="height: 400px">
    <ion-list *ngIf="!busqueda" class="grid-full">
      <ion-item-group *ngFor="let item of productos">
        <ion-item-divider color="light">{{item.grupo}} </ion-item-divider>
        <ion-row>
          <ion-col #item *ngFor="let producto of item.productos" class="cell-1">
            <img *ngIf="producto.imagen" [src]="producto.imagen">
            <strong style="text-align: center;">{{producto.descripcion}} {{producto.marca}}</strong>
            <p style="text-align: center;">Precio: {{producto.precio| currency : 'usd' : true : '.0' }}</p>
            <ion-note item-end style="text-align: center;">Disponible {{producto.cantidad}}</ion-note>

            <button *ngIf="producto.cantidad > 0" ion-button full outline icon-start (tap)="agregar(producto)">
              <ion-icon name="add"></ion-icon>
              Agregar
            </button>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-list>

    <ion-list *ngIf="busqueda" class="grid-full">
      <ion-row>
        <ion-col #item *ngFor="let producto of productos" class="cell-1">
          <img *ngIf="producto.imagen" [src]="producto.imagen">
          <strong>{{producto.descripcion}} {{producto.marca}}</strong>
          <p>Precio: {{producto.precio| currency : 'usd' : true : '.0' }}</p>
          <ion-note item-end>Disponible {{producto.cantidad}}</ion-note>

          <button *ngIf="producto.cantidad > 0" ion-button full outline icon-start (tap)="agregar(producto)">
            <ion-icon name="add"></ion-icon>
            Agregar
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-scroll>

  <ion-title>
    Lista de productos
  </ion-title>

  <ion-grid>
    <ion-row>
      <ion-col>
        Producto
      </ion-col>

      <ion-col>
        Cantidad
      </ion-col>

      <ion-col>
        Precio
      </ion-col>

      <ion-col>
        Subtotal
      </ion-col>

      <ion-col>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-row #item *ngFor="let productos of carrito; let i = index">
        <ion-col>
          {{productos.producto.descripcion}} {{productos.producto.marca}}
        </ion-col>

        <ion-col>
          {{productos.cantidad}}
        </ion-col>

        <ion-col>
          {{productos.producto.precio | currency : 'usd' : true : '.0'}}
        </ion-col>

        <ion-col>
          {{productos.total | currency : 'usd' : true : '.0'}}
        </ion-col>

        <ion-col>
          <button ion-button color="danger" (click)="borrar(i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          Total
        </ion-col>

        <ion-col>
          {{datosVenta.total | currency : 'usd' : true : '.0'}}
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>

  <button ion-button type="submit" block (click)="guardar()">Finalizar</button>
  <button ion-button color="danger" block (click)="cerrar()">Cancelar</button>
</ion-content>